:root {
  --app-gray: #F3F5FC;
  --title-gray: #343A40; 
  --blue: #0A3871;
  --gray: #495057;
  --btn-gray: #D8DFE8;
  --white: #FFFFFF;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--app-gray);
}

button {
  border: 1px solid var(--blue);
  border-radius: 1.5rem;
  width: 100%;
  height: 67px;
  font-size: 1.6rem;
}

.btn-blue{
  background-color:var(--blue);
  color: var(--white);
}

.btn-white{
  background-color:var(--app-gray);
  color: var(--blue);
}
