@import url('./common.css');

main {
  background-color: var(--app-gray);
  height: auto;
  padding: 24px 16px;
}

header {
  margin-bottom: 8vh;
}

header img:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 30vh;
  outline: none;
  border: 0 none;
  background-color: var(--app-black);
  box-shadow: none;
  color: var(--blue);
  font-size: 3.2rem;
}

textarea::placeholder {
  color: var(--blue);
}

.small, .buttons, .output {
  display: flex;
  align-items: center;
  gap: .8rem;
}

small {
  font-weight: 400;
  font-size: 1.2rem;
  opacity: .8;;
}

.display-none {
  display: none;
}

.buttons {
  margin: 1.6rem 0 6.4rem;
  flex-direction: column;
  gap: 2.4rem;
}

.output {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--white);
  padding: 3.2rem;
  border-radius: 3.2rem;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
  box-shadow: 0 2.4rem 3.2rem -.8rem rgba(0, 0, 0, .08);
}

.content-output {
  height: 100%;
}

.button-output {
  width: 100%;
}

#btn-copy {
  display: none;
}

.output h1 {
  margin: 0;
  font-size: 2.4rem;
  color: var(--title-gray);
}

.output p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray);
}

/* #p-output {
  display: none;
} */

.img-output {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
    padding: 7.342rem 4rem 4rem;
  }

  header {
    margin-bottom: 12.021rem;
  }

  form {
    width: 100%;
  }

  textarea {
    height: 39.7rem;
  }

  .buttons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  button {
    width: 50%;
  }

  .output {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  body{
    background-color: #E5E5E5;
  }
  main {
    margin: 0 auto;
    max-width: 144rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
  }

  header {
    margin: 0;
  }

  form {
    max-width: 50%;
    margin-top: 7%;
  }

  textarea {
    height: 54vh;
  }

  .buttons {
    width: 100%;
    margin-bottom: 0;
  }

  button {
    width: 50%;
    padding: 2.4rem;
  }

  button:hover {
    cursor: pointer;
  }

  .output {
    max-width: 40rem;
    min-width: 30rem;
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .button-output {
    width: 100%;
  }

  .img-output {
    display: inline-block;
    margin-top: 30%;
  }
}